* {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: "Poppins";
    background-color: rgb(42, 42, 38);
  }

  .nav-container .links{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100;
    padding: 1rem 2rem;
    height: 4rem;
    background-color: black;
    align-items: center;
  }

  .nav-container .links .link a{
    color: white;
  }

  .nav-container .link a::after {
    content: "";
    display: block;
    padding-bottom: 0;
    border-bottom: 2px solid yellow;
    transform: scaleX(0);
    transition: 0.2s ease;
  }
  
  .nav-container .link a:hover::after {
    transform: scaleX(1);
  }
  
  .nav-container .link a:hover {
    color: yellow;
  }

  img{
    padding: 1rem;
    border-radius: 50px;
    width: 230px;
  }

  .content-container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
    font-weight: 2rem;
  }

  .content-container p{
    width: 60%;
    padding: 1rem;
    border-radius: px;
    color: yellow;
  }

  .imdb{
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
  }

  .content-container .imdb{
    color: white;
  }

  .vid iframe{
    width: 65%;

  }

  .vid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .fullscreen-button{
    padding: 0.5rem;
  }

  .vid h4{
    color: white;
    padding-bottom: 1rem;
  }

  .logo-footer {
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    padding: 1rem;
  
  }
  
  .logo-footer h1 {
    color: white;
  }
  
  .logo-footer p {
    color: white;
  }
  
  .logo-footer .social .links {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .logo-footer .social .links a {
    color: white;
  }
  
  .credit a {
    color: white;
  }
  
  .logo-footer h1 {
    color: yellow;
  }

  .credito {
    padding-bottom: 0.5rem;
  }

  span{
    color: white;
  }

  @media (max-width: 767px) {
    .nav-container .links{
      display: flex;
      justify-content: space-evenly;
    }
   .vid iframe{
    width: 95%;
   }

   .content-container p{
    width: 100%;
    font-size: 10px;
   }
   .content-container .imdb{
    align-items: center;
   }
   .vid {
    gap: 2rem;
    text-align: center;
    padding: 1rem;
   }
  }

  @media (max-width: 767px) {
    .vid iframe{
      height: 270px;
    }
  }

  @media (min-width: 992px) {
     .vid iframe{
      height: 500px;
      width: 60%;
    }
  }